.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  overflow-x: hidden;
}

.navLogo img {
  width: 90px;
  height: 90px;
  position: relative;
  top: -2rem;
  right: 3rem;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  margin: 0.5rem;
  padding: 0;
}

.navLinks li a {
  font-family: "Boldonse", system-ui;
  color: #777320;
  transition: color 0.3s ease;
  position: relative;
  top: -3.2rem;
  left: -2rem;
  font-size: 0.875rem;
}

.navLinks li a:hover {
  outline: 2px solid #6b6831;
  color: #6b6831;
}

.active-link {
  color: #ffffff;
}

@media (min-width: 370px) {
  .navLogo img {
    width: 110px;
    height: 110px;
  }

  .navLinks {
    list-style: none;
    display: flex;
    gap: 0.8rem;
  }

  .navLinks li a {
    font-family: "Boldonse", system-ui;
    color: #777320;
    transition: color 0.3s ease;
    position: relative;
    top: -3.2rem;
    left: -0.5rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 450px) {
  .navLogo img {
    width: 110px;
    height: 110px;
    position: relative;
    top: -2rem;
    right: 3rem;
  }

  .navLinks {
    gap: 1rem;
  }

  .navLinks li a {
    position: relative;
    top: -3rem;
    left: -0.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 650px) {
  .navLogo img {
    width: 130px;
    height: 130px;
  }

  .navLinks {
    gap: 1.3rem;
  }

  .navLinks li a {
    position: relative;
    top: -3rem;
    left: -1rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 1000px) {
  .navLinks li a {
    position: relative;
    top: -3rem;
    left: 0rem;
    font-size: 1.5rem;
  }
}
