body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mainContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
  font-size: 1.8rem;
  width: 90%;
  margin: 1rem auto;
  padding-bottom: 0.6rem;
  border-bottom: 4px solid #b44819;
  width: 320px;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  left: -18%;
  top: -4rem;
}

/* .line {
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #b44819;
  margin: 0 15px;
  vertical-align: middle;
} */

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.polaroidContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  justify-items: center;
}

.polaroid {
  width: 430px;
  display: block;
  margin: 0 auto;
  position: relative;
  left: -10rem;
  top: -6rem;
}

.nameTag {
  width: 100%;
  max-width: 400px;
  display: block;
  position: relative;
  top: -13.5rem;
  right: 6rem;
}

.orangeBubbleContainer {
  order: 2;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 1.5rem auto;
  text-align: center;
}

.orangeBubble {
  width: 560px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: -22rem;
  left: -6.5rem;
}

.jobs {
  order: 3;
  color: #222;
  font-family: "Boldonse", system-ui;
  font-size: 0.55rem;
  display: flex;
}

.prodDesign {
  position: relative;
  top: -8rem;
  right: 3rem;
}

.creativeTech {
  position: relative;
  right: 4.5rem;
  top: -4.5rem;
}

.frontDev {
  position: relative;
  top: -1rem;
  right: 4.5rem;
}

.uIDesigner {
  position: relative;
  top: -4rem;
  right: 4rem;
}

.webDev {
  position: relative;
  top: -7rem;
  right: 3.5rem;
}

/* Breakpoints Start */

@media (min-width: 400px) and (max-width: 450px) {
  .heading {
    position: relative;
    left: -18%;
    top: -4rem;
  }

  .orangeBubble {
    width: 630px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -22.5rem;
    left: -6.5rem;
  }

  .polaroid {
    position: relative;
    left: -8rem;
    top: -6rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.55rem;
    display: flex;
  }

  .prodDesign {
    position: relative;
    top: -7rem;
    right: 3.3rem;
  }

  .creativeTech {
    position: relative;
    right: 5.5rem;
    top: -3.5rem;
  }

  .frontDev {
    position: relative;
    top: -0.8rem;
    right: 4.5rem;
  }

  .uIDesigner {
    position: relative;
    top: -3rem;
    right: 4rem;
  }

  .webDev {
    position: relative;
    top: -6rem;
    right: 3.5rem;
  }
}

@media (min-width: 451px) and (max-width: 499px) {
  .heading {
    position: relative;
    font-size: 2.3rem;
    max-width: 700px;
    left: -22%;
    top: -4rem;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .polaroid {
    width: 450px;
    display: block;
    margin: 0 auto;
    position: relative;
    left: -9.5rem;
    top: -6rem;
  }

  .orangeBubble {
    width: 670px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -23rem;
    left: -7rem;
  }
  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.6rem;
    display: flex;
  }

  .prodDesign {
    position: relative;
    top: -6.5rem;
    right: 3rem;
  }

  .creativeTech {
    position: relative;
    right: 6rem;
    top: -2.5rem;
  }

  .frontDev {
    position: relative;
    top: 0.5rem;
    right: 5rem;
  }

  .uIDesigner {
    position: relative;
    top: -2.5rem;
    right: 4.5rem;
  }

  .webDev {
    position: relative;
    top: -6rem;
    right: 4rem;
  }
}

@media (min-width: 500px) and (max-width: 550px) {
  .heading {
    font-size: 2.8rem;
    padding-bottom: 1.3rem;
    border-bottom: 4px solid #b44819;
    width: 440px;
    position: relative;
    left: -10%;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .polaroid {
    width: 480px;
    display: block;
    margin: 0 auto;
    position: relative;
    left: -7rem;
    top: -6rem;
  }

  .nameTag {
    width: 100%;
    max-width: 400px;
    display: block;
    position: relative;
    top: -14rem;
    right: 7rem;
  }

  .orangeBubble {
    width: 750px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -24rem;
    left: -6rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.6rem;
    display: flex;
  }

  .prodDesign {
    position: relative;
    top: -5rem;
    right: 2rem;
  }

  .creativeTech {
    position: relative;
    right: 5rem;
    top: -1rem;
  }

  .frontDev {
    position: relative;
    top: 2rem;
    right: 5rem;
  }

  .uIDesigner {
    position: relative;
    top: -0.5rem;
    right: 4rem;
  }

  .webDev {
    position: relative;
    top: -4rem;
    right: 3rem;
  }
}

@media (min-width: 551px) and (max-width: 600px) {
  .heading {
    font-size: 2.8rem;
    padding-bottom: 1.3rem;
    border-bottom: 4px solid #b44819;
    width: 440px;
    position: relative;
    left: 0%;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .polaroid {
    left: -8.5rem;
  }

  .nameTag {
    top: -14rem;
    right: 5rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.6rem;
    display: flex;
  }

  .prodDesign {
    position: relative;
    top: -5rem;
    right: 3rem;
  }

  .creativeTech {
    position: relative;
    right: 6rem;
    top: -0.5rem;
  }

  .frontDev {
    position: relative;
    top: 2rem;
    right: 5rem;
  }

  .uIDesigner {
    position: relative;
    top: -0.5rem;
    right: 4.5rem;
  }

  .webDev {
    position: relative;
    top: -4.5rem;
    right: 4rem;
  }

  .orangeBubble {
    width: 750px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -24rem;
    left: -7.5rem;
  }
}

@media (min-width: 601px) and (max-width: 650px) {
  .heading {
    font-size: 3rem;
    padding-bottom: 1.3rem;
    border-bottom: 4px solid #b44819;
    width: 500px;
    position: relative;
    left: 0%;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .polaroid {
    width: 520px;
    left: -7.5rem;
  }

  .nameTag {
    width: 100%;
    max-width: 450px;
    display: block;
    position: relative;
    top: -14rem;
    right: 4rem;
  }

  .orangeBubbleContainer {
    order: 2;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 1.5rem auto;
    text-align: center;
    margin: 0.5rem 0 4rem 0;
  }

  .orangeBubble {
    width: 850px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -25.5rem;
    left: -7.5rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.8rem;
    display: flex;
  }

  .prodDesign {
    position: relative;
    top: -5rem;
    right: 2.5rem;
  }

  .creativeTech {
    position: relative;
    right: 5rem;
    top: -0.5rem;
  }

  .frontDev {
    position: relative;
    top: 2rem;
    right: 3.5rem;
  }

  .uIDesigner {
    position: relative;
    top: -0.5rem;
    right: 1.5rem;
  }

  .webDev {
    position: relative;
    top: -4.5rem;
    right: 0;
  }
}

@media (min-width: 651px) and (max-width: 700px) {
  .heading {
    font-size: 3.2rem;
    padding-bottom: 1.3rem;
    border-bottom: 4px solid #b44819;
    width: 550px;
    position: relative;
    left: 0%;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .polaroid {
    width: 520px;
    left: -8rem;
  }

  .nameTag {
    width: 100%;
    max-width: 450px;
    display: block;
    position: relative;
    top: -14rem;
    right: 4rem;
  }

  .orangeBubbleContainer {
    order: 2;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 1.5rem auto;
    text-align: center;
    margin: 0 0 6rem 0;
  }

  .orangeBubble {
    width: 920px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -25.5rem;
    left: -8.5rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.8rem;
    display: flex;
  }

  .prodDesign {
    position: relative;
    top: -6rem;
    right: 2.5rem;
  }

  .creativeTech {
    position: relative;
    right: 5rem;
    top: -1rem;
  }

  .frontDev {
    position: relative;
    top: 2rem;
    right: 3rem;
  }

  .uIDesigner {
    position: relative;
    top: -0.5rem;
    right: 0rem;
  }

  .webDev {
    position: relative;
    top: -4.5rem;
    left: 1.5rem;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .heading {
    font-size: 3.2rem;
    padding-bottom: 1.3rem;
    border-bottom: 4px solid #b44819;
    width: 550px;
    position: relative;
    left: 0%;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .polaroid {
    width: 540px;
    left: -8.5rem;
  }

  .nameTag {
    width: 100%;
    max-width: 450px;
    display: block;
    position: relative;
    top: -14rem;
    right: 4rem;
  }

  .orangeBubbleContainer {
    order: 2;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 1.5rem auto;
    text-align: center;
    margin: -1.5rem 0 9rem 0;
  }

  .orangeBubble {
    width: 1100px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -26rem;
    left: -12rem;
  }
  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 1.1rem;
    display: flex;
  }

  .prodDesign {
    position: relative;
    top: -5.5rem;
    right: 1.5rem;
  }

  .creativeTech {
    position: relative;
    right: 4rem;
    top: 1rem;
  }

  .frontDev {
    position: relative;
    top: 4.5rem;
    right: 2.5rem;
    width: 200px;
  }

  .uIDesigner {
    position: relative;
    top: 2rem;
    left: 1rem;
  }

  .webDev {
    position: relative;
    top: -3.5rem;
    left: 1.5rem;
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  .heading {
    font-size: 3.3rem;
    padding-bottom: 1.3rem;
    border-bottom: 4px solid #b44819;
    width: 600px;
    position: relative;
    left: 0%;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .flexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    position: relative;
    margin-top: 4rem;
  }

  .orangeBubbleContainer {
    position: relative;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .orangeBubble {
    width: 750px;
    position: relative;
    top: -6rem;
    left: -13rem;
  }

  .polaroidContainer {
    flex: 1;
    max-width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .polaroid {
    max-width: 550px;
    position: relative;
    top: -10rem;
    left: 15rem;
  }

  .nameTag {
    width: 400px;
    position: relative;
    top: -18rem;
    left: 24rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.9rem;
    display: flex;
  }

  .prodDesign {
    position: absolute;
    top: 17rem;
    right: 34rem;
  }

  .creativeTech {
    position: absolute;
    right: 24rem;
    top: 21.5rem;
  }

  .frontDev {
    position: absolute;
    top: 20rem;
    right: 12rem;
    max-width: 150px;
  }

  .uIDesigner {
    position: absolute;
    top: 18rem;
    right: 3rem;
    max-width: 100px;
  }

  .webDev {
    position: absolute;
    top: 20rem;
    right: -6rem;
    max-width: 100px;
  }
}

@media (min-width: 901px) and (max-width: 1000px) {
  .heading {
    font-size: 3.5rem;
    padding-bottom: 1.3rem;
    border-bottom: 4px solid #b44819;
    width: 650px;
    position: relative;
    left: 0%;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .flexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    position: relative;
    margin-top: 4rem;
  }

  .orangeBubbleContainer {
    position: relative;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .orangeBubble {
    width: 850px;
    position: relative;
    top: -7.5rem;
    left: -13.5rem;
  }

  .polaroidContainer {
    flex: 1;
    max-width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .polaroid {
    width: 480px;
    position: relative;
    top: -10rem;
    left: 14.5rem;
  }

  .nameTag {
    width: 410px;
    position: relative;
    top: -18.5rem;
    left: 25rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.9rem;
    display: flex;
  }

  .prodDesign {
    position: absolute;
    top: 17rem;
    right: 37rem;
  }

  .creativeTech {
    position: absolute;
    right: 27rem;
    top: 22.5rem;
  }

  .frontDev {
    position: absolute;
    top: 21rem;
    right: 13.5rem;
    max-width: 150px;
  }

  .uIDesigner {
    position: absolute;
    top: 21rem;
    right: 3rem;
    max-width: 100px;
  }

  .webDev {
    position: absolute;
    top: 20rem;
    right: -8.5rem;
    max-width: 100px;
  }
}

@media (min-width: 1001px) and (max-width: 1250px) {
  .heading {
    font-size: 3.6rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid #b44819;
    width: 680px;
    position: relative;
    left: 0%;
  }

  /* .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  } */

  .flexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    position: relative;
    margin-top: 4rem;
  }

  .orangeBubbleContainer {
    position: relative;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .orangeBubble {
    width: 900px;
    position: relative;
    top: -9rem;
    left: -16rem;
  }

  .polaroidContainer {
    flex: 1;
    max-width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .polaroid {
    width: 510px;
    position: relative;
    top: -10rem;
    left: 14rem;
  }

  .nameTag {
    width: 410px;
    position: relative;
    top: -18rem;
    left: 24rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 0.8rem;
    display: flex;
  }

  .prodDesign {
    position: absolute;
    top: 18rem;
    right: 40.5rem;
  }

  .creativeTech {
    position: absolute;
    right: 29rem;
    top: 22.7rem;
  }

  .frontDev {
    position: absolute;
    top: 21rem;
    right: 14rem;
    max-width: 150px;
  }

  .uIDesigner {
    position: absolute;
    top: 22rem;
    right: 2rem;
    max-width: 100px;
  }

  .webDev {
    position: absolute;
    top: 19rem;
    right: -10rem;
    max-width: 100px;
  }
}

@media (min-width: 1251px) and (max-width: 1500px) {
  .heading {
    font-size: 3.7rem;
    padding-bottom: 1.3rem;
    border-bottom: 0px solid #b44819;
    width: 1100px;
    position: relative;
    left: 0%;
  }

  .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  }

  .flexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    position: relative;
    margin-top: 4rem;
  }

  .orangeBubbleContainer {
    position: relative;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .orangeBubble {
    width: 1000px;
    position: relative;
    top: -7.5rem;
    left: -16rem;
  }

  .polaroidContainer {
    flex: 1;
    max-width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .polaroid {
    width: 510px;
    position: relative;
    top: -10rem;
    left: 16rem;
  }

  .nameTag {
    width: 410px;
    position: relative;
    top: -18rem;
    left: 27rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 1rem;
    display: flex;
  }

  .prodDesign {
    position: absolute;
    top: 20rem;
    right: 45rem;
  }

  .creativeTech {
    position: absolute;
    right: 34rem;
    top: 25rem;
  }

  .frontDev {
    position: absolute;
    top: 24.5rem;
    right: 15rem;
    max-width: 150px;
  }

  .uIDesigner {
    position: absolute;
    top: 23rem;
    right: 0rem;
    max-width: 100px;
  }

  .webDev {
    position: absolute;
    top: 19rem;
    right: -15rem;
    max-width: 100px;
  }
}

@media (min-width: 1501px) and (max-width: 1750px) {
  .heading {
    font-size: 4rem;
    padding-bottom: 1.3rem;
    border-bottom: 0px solid #b44819;
    width: 1200px;
    position: relative;
    left: 0%;
  }

  .line {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #b44819;
    margin: 0 15px;
    vertical-align: middle;
  }

  .flexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    position: relative;
    margin-top: 4rem;
  }

  .orangeBubbleContainer {
    position: relative;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .orangeBubble {
    width: 1000px;
    position: relative;
    top: -9rem;
    left: -16rem;
  }

  .polaroidContainer {
    flex: 1;
    max-width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .polaroid {
    width: 510px;
    position: relative;
    top: -13rem;
    left: 16rem;
  }

  .nameTag {
    width: 410px;
    position: relative;
    top: -18rem;
    left: 27rem;
  }

  .jobs {
    order: 3;
    color: #222;
    font-family: "Boldonse", system-ui;
    font-size: 1.2rem;
    display: flex;
  }

  .prodDesign {
    position: absolute;
    top: 18rem;
    right: 48rem;
  }

  .creativeTech {
    position: absolute;
    right: 33rem;
    top: 24.5rem;
  }

  .frontDev {
    position: absolute;
    top: 23.5rem;
    right: 15rem;
    max-width: 150px;
  }

  .uIDesigner {
    position: absolute;
    top: 23.5rem;
    right: -1rem;
    max-width: 100px;
  }

  .webDev {
    position: absolute;
    top: 19rem;
    right: -18rem;
    max-width: 100px;
  }
}
