body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabContainer {
  max-height: 70vh;
  overflow-y: auto;
  width: 100%;
  max-width: 650px;
  align-items: center;
  padding-bottom: 1rem;
  position: relative;
  top: -5.5rem;
}

.tab {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: center;
  margin-bottom: -7rem;
  padding-bottom: 1rem;
}

.tab img {
  width: 650px;
  height: 340px;
  display: block;
}

.collectSwapTab {
  position: relative;
  top: 0;
  left: 1rem;
}

.cashConverterTab {
  position: relative;
  top: 0;
  left: 1.7rem;
}

.spotifyTab {
  position: relative;
  top: 0;
  left: 2rem;
}

.devBlogTab {
  position: relative;
  top: 0;
  left: 0.5rem;
}

.heading {
  position: relative;
  top: -3rem;
  left: -2rem;
}

@media (min-width: 600px) {
  .heading {
    font-size: 4rem;
    position: relative;
    top: -28rem;
    left: 0;
  }

  .tabContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-height: none;
    overflow: visible;
    gap: 0;
    padding: 0;
    position: relative;
  }

  .tab {
    margin-bottom: 0;
    justify-content: center;
    width: 600px;
    height: 320px;
    max-width: none;
  }

  .tab img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .collectSwapTab {
    position: absolute;
    left: -7rem;
    top: -25rem;
  }

  .cashConverterTab {
    position: absolute;
    left: 12rem;
    top: -26rem;
  }

  .spotifyTab {
    position: absolute;
    top: -10rem;
    left: 12rem;
  }

  .devBlogTab {
    position: absolute;
    top: -9rem;
    left: -7rem;
  }
}

@media (min-width: 700px) {
  .heading {
    font-size: 4.5rem;
  }

  .tab {
    width: 700px;
    height: 420px;
  }

  .collectSwapTab {
    position: absolute;
    left: -9rem;
    top: -29rem;
  }

  .cashConverterTab {
    position: absolute;
    left: 15rem;
    top: -30.2rem;
  }

  .spotifyTab {
    position: absolute;
    top: -12rem;
    left: 15rem;
  }

  .devBlogTab {
    position: absolute;
    top: -10.5rem;
    left: -9rem;
  }
}

@media (min-width: 1000px) {
  .heading {
    font-size: 5rem;
  }

  .tab {
    width: 800px;
    height: 500px;
  }

  .collectSwapTab {
    position: absolute;
    left: -15rem;
    top: -29rem;
  }

  .cashConverterTab {
    position: absolute;
    left: 15rem;
    top: -30.8rem;
  }

  .spotifyTab {
    position: absolute;
    top: -12rem;
    left: 15rem;
  }

  .devBlogTab {
    position: absolute;
    top: -10.2rem;
    left: -15.5rem;
  }
}

@media (min-width: 1200px) {
  .tab {
    width: 950px;
    height: 500px;
  }

  .collectSwapTab {
    position: absolute;
    left: -21rem;
    top: -29rem;
  }

  .cashConverterTab {
    position: absolute;
    left: 15rem;
    top: -30.8rem;
  }

  .spotifyTab {
    position: absolute;
    top: -12rem;
    left: 15rem;
  }

  .devBlogTab {
    position: absolute;
    top: -10.2rem;
    left: -21.2rem;
  }
}
